<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StaffConn" connectionString="Data Source=MSI\PRASHANTSQL;Initial Catalog=Employees;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>